.footer-banner{
    background-color: rgba(245, 245, 245, 1);
}

.footer-links{
    display: flex;
    justify-content: center;
    padding: 64px 380px;
    gap: 110px;

    font-size: 16px;
    
    h4{
        margin-bottom: 10px;
    }

    h5{
        font-weight: 400;
        cursor: pointer;
    }
}

.footer-logo{
    width: 152px;
    height: 27px;
    margin-bottom: 40px;
}

.footer-social{
    display: flex;
    gap: 40px;

    img{
        cursor: pointer;
    }
}

.footer-payments{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 34px;

    padding: 0px 50px 64px;
}

.footer-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    margin-bottom: 23px;
    
    background-color: rgba(255, 255, 255, 1);
    font-size: 12px;
    text-align: center;

    p{
        width: 1074px;
        height: 60px;
        margin: 40px 0px;
    }
}

.footer-details-img{
    width: 300px;
    height: 32px;

    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 40px;

    img:nth-child(3){
        width: 57px;
        height: 10px;
        margin-left: 24px;
    }
}

.link-container img {
    display: none;
}

.link-button{
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    cursor: pointer;
}

.link-button img {
    transition: transform 0.3s ease-in-out;
}

/* Media queries */

@media (max-width: 1120px) {
    .footer-details p{
        padding: 0px 50px;
    }
}

@media (max-width: 980px) {
    .footer-details p{
        padding: 0px 150px;
    }
}

@media (max-width: 890px) {
    .footer-links{
        gap: 80px;
    }
}

@media (max-width: 790px) {
    .footer-links{
        gap: 50px;
    }

    .footer-links div:nth-child(2){
        margin-left: 0px;
    }
}

@media (max-width: 720px) {
    .footer-banner{      
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-links{
        flex-direction: column;
        gap: 0px;
    }

    .footer-links div:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-social{
        margin-bottom: 40px;
    }

    .link-container{
        width: 450px;
        padding: 16px 16px 6px 16px;
        
        border: 1px solid rgba(221, 221, 221, 1);

        img{
            display: flex;
        }
    }

    .link-container div:nth-child(1){
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-details p {
        padding: 0px 350px;

        margin-bottom: 140px;
    }
}

@media (max-width: 450px) {
    .link-container {
        width: 350px;
    }
}