/* Parte principal da imagem e Super sale */
.principal-container {
    width: 100%;
    height: 510px;
    margin-bottom: 100px;

    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.principal-content {
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    div {
        text-align: center;
    }

    h1 {
        font-size: 100px;
        font-weight: 300;
    }

    p {
        font-weight: 700;
        font-size: 25px;
    }

    h2 {
        font-weight: 700;
        font-size: 60px;
    }

    h2,
    p {
        color: rgba(0, 92, 255, 1);
    }
}


.principal-container img {
    width: 100%;
    height: 100%;
}

/* Sections */
section {
    width: 100%;
    padding: 0px 314px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Lançamentos */
.lancamentos {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 100px;
}

section:nth-of-type(5) {
    margin: 64px 0px;
}

.banner{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px 372px;

    font-size: 18px;
}

.bn2-containerImg div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media queries */

@media (max-width: 1860px) {
    section {
        padding: 0px 300px;
    }

    .banner{
        padding: 0px 358px !important;
    }
}

@media (max-width: 1780px) {
    section {
        padding: 0px 180px;
    }

    .banner{
        padding: 0px 238px !important;
    }
}

@media (max-width: 1600px) {
    section {
        padding: 0px 120px;
    }

    .banner{
        padding: 0px 178px !important;
    }
}

@media (max-width: 1421px) {
    section {
        padding: 0px 80px;
    }

    .banner{
        padding: 0px 138px !important;
    }
}

@media (max-width: 1314px) {
    section {
        padding: 0px 40px;
    }

    .banner{
        padding: 0px 98px !important;
    }
}

@media (max-width: 1200px) {
    .banner-container-image:not(:nth-child(2)){
        height: 550px !important;
    }

    .banner-container-image img{
        width: 350px;
    }

    .bn2-content{
        margin: 40px 0px;
    }

    .bn2-containerImg div{
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 980px) {
    .bn2-containerImg div{
        width: 25px !important;
        height: 25px !important;
        padding: 30px !important;
    }
}
